# package info
PACKAGE = phyles
VERSION = 0.2
RELEASE = 0.2.0b4
AUTHOR = James C. Stroud
EMAIL = jstroud@mbi.ucla.edu
URL = http://phyles.bravais.net
LICENSE = BSD
COPYRIGHT = Copyright (c) 2013, James C. Stroud; All rights reserved.
DESCRIPTION = Simple validation of YAML config files with YAML-based schema.
